*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding-bottom: 4em;
  font: 20px/1.5 "heisei-mincho-std", serif;
  text-align: center;
  color: #2c3e50;
}

img {
  max-width: 100%;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 1em;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 15px;
}

h1 {
  margin: 2em 0;
  font-size: 3em;
  font-weight: normal;
}

header p {
  margin-bottom: 5em;
}

.screenshot {
}

.download {
  display: flex;
  margin: 2em auto;
  flex-flow: column nowrap;
}
.download-btn {
  position: relative;
  display: inline-block;
  margin: 1em auto;
  font-size: 1.6em;
  padding: 10px;
  font-weight: bold;
}
.download-btn:hover:after {
  left: 0;
  width: 100%;
  color: #000;
}
.download-btn:after {
  display: block;
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  width: 50%;
  height: 1px;
  background: #333;
  transition: all .2s;
}

.feedback {
  font-size: 20px;
  text-align: center;
}

footer {
  margin-top: 5em;
  font-size: 13px;
  text-align: center;
  font-family: Avenir, Helvetica, Ubuntu, Arial, sans-serif;
  color: #999;
}

footer li {
  margin: 1em auto;
}
footer a {
  color: #555;
}
