@import 'normalize.css';

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1.5;
  font-family: var(--font);
  overflow: hidden;
  transition: background-color .3s, color .3s;
  &.sunrise {
    color: var(--inkBlue);
    background: var(--white);
  }
  &.sunset {
    color: var(--green);
    background: var(--yellow);
  }
  &.moon {
    color: var(--grey);
    background: var(--darkInk);
  }
  &.s {
    font-size: 14px;
  }
  &.m {
    font-size: 16px;
  }
  &.l {
    font-size: 20px;
  }
}

body {
  height: 100%;
}

a {
  text-decoration: none;
  .sunrise & {
    color: var(--inkBlue);
  }
  .sunset & {
    color: var(--green);
  }
  .moon & {
    color: var(--grey);
  }
}

.transparent {
  opacity: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  line-height: 1;
  .sunrise & {
    color: var(--inkBlue);
  }
  .sunset & {
    color: var(--green);
  }
  .moon & {
    color: var(--grey);
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}
